h1 {text-align: center;}

#james {width: 25%;
}

#james {margin-left: 37%;}

#jamess {margin-left: 40%;}

#jamesss {margin-left: 30%;}

h2 {text-align: center;}

h3 {text-align: center;}

H3 {color: red;}

h4 {text-align: center;}

h4 {font-size: 300%;}

H4 {color: rgb(73, 0, 92);}

h1 {font-size: 300%;}

h5 {text-align: center;}

H5 {color: red;}

h5 {font-size: 200%;}

h6 {font-size: 200%;}
H6 {color: rgb(138, 135, 0);}
h6 {text-align: left;}

h7 {font-size: 200%;}
h8 {font-size: 200%;}
